core
*~
*.[oa]
*.gz
*.cap
*.pcap
Makefile
aclocal.m4
ar-lib
autom4te.cache/
config.h
config.log
config.status
configure
doc/Doxyfile
doc/doxygen.out
doc/html/
install-sh
libtinydtls.a
libtinydtls.so
tests/ccm-test
tests/dtls-client
tests/dtls-server
tinydtls-0.6.0
./tinydtls-0.6.0/
tinydtls.pc
TAGS
*.patch
.gitignore
ecc/testecc
ecc/testfield
*.d
*.hex
*.elf
*.map
obj_*
dtls_config.h.in
dtls_config.h
*.apple2enh
*.atarixl
*.avr-atmega128rfa1
*.avr-raven
*.avr-ravenlcd
*.avr-ravenusb
*.avr-rcb
*.avr-zigbit
*.c128
*.c64
*.cc2530dk
*.cc2538dk
*.cooja
*.econotag
*.eval-adf7xxxmb4z
*.exe
*.exp5438
*.iris
*.mbxxx
*.micaz
*.minimal-net
*.native
*.seedeye
*.sensinode
*.sky
*.stm32test
*.win32
*.wismote
*.z1
*.z1sp
.project
# cmake
CMakeCache.txt
cmake_install.cmake
CMakeFiles

# Windows build files
*.dll

# Visual Studio Build Files
*.VC.db*
.vs
*.obj
*.tlog
*.log
*.recipe
*.vcxproj
*.sln
*.pdb
*.vcxproj.user
*.vcxproj.filters
*.vcxproj.FileListAbsolute.txt
tinydtls.dir
Debug
Release
